header {
    width: 100%;
    padding-top: 16px;
}

.navbar {
    max-width: 1440px;
    margin: 0 auto;

    padding: 0 16px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-menu {
    display: flex;
    align-items: center;

    
}

.logo {
    max-width: 88px;
}

.nav-list {
    display: flex;
    align-items: center;
    list-style: none;

    li {
        margin-left: 24px;
    }

    @include responsive(){
        display: none;
    }
}

.nav-link {
    display: inline-block;
    padding: 8px 16px;
    font-size: 14px;
    font-weight: 200;
    letter-spacing: 2px;
    text-transform: uppercase;

    color: $gray-3;

    position: relative;

    transition: 0.7s ease;

    &::after {
        content: '';
        display: block;
        position: absolute;
        left: 50%;
        top: -40px;

        width: 2px;
        height: 0;
        background: linear-gradient(180deg, rgba(233, 29, 34, 0) 0%, #E91022 100%);
        transition: 0.7s ease;
    }

    &:hover {
        color: $white-light;

        &::after {
            display: block;
            height: 45px;
        }
    }
}

.bx {
    width: 48px;
    height: 48px;
    display: none;
    background-color: $white;
    border-radius: 8px;
    
    @include responsive(){
        display: block;
    }
}

.nav-social {
    display: flex;


    svg {
        cursor: pointer;
        margin-left: 16px;
        width: 24px;

        path, circle {
            transition: 0.7s ease;
        }

        &:hover {
            path, circle {
                fill: $red-light;
                transform: translate3d(0, -3px, 0);
            }
        }
    }

    @include responsive(){
        display: none;
    }
}